[user]
    email = mads@plikki.com
    name = Mads Kristiansen
	signingkey = D2E718965B4E5795!

[commit]
    #gpgsign = true

[core]
    pager = delta
    editor = nvim

[color]
    ui = true

[interactive]
    diffFilter = delta --color-only --line-numbers

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color
    line-numbers = true
    #syntax-theme = default
    zero-style = syntax dim
    minus-style = syntax bold auto

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
     # list aliases
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
     # show git log history
    g = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %s' --abbrev-commit --date=relative --all
    # small log output
    l = !git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %s' --abbrev-commit --date=relative
    la = !git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %s' --abbrev-commit --date=relative --all
    lag = !git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %s' --abbrev-commit --date=relative --all --graph
    # commit with a message
    cm = commit -m
    # list all branches
    b = branch -avv
    # status
    s = status
    # push
    p = push
    # clean interactive
    ci = clean -i
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[github]
    user = Hexamo

[includeIf "gitdir:~/git/work/"]
    path = .gitconfig-work
[includeIf "gitdir:~/git/personal/"]
    path = .gitconfig-personal
